
.MainContent {
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: 5fr 90fr 5fr;
    background-color: lightgray;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "navbar content"
    "footer footer";
    
    .Header {
        grid-area: header;
        background-color: lightsalmon;
        position: sticky;
        top: 0;
    }

    .NavigationBar {
        grid-area: navbar;
        background-color: palegreen;


        .NavBarItem {
            cursor: pointer;
            padding: 0 0.5em 0.5em 0.5em;
        }

        .NavBarItem:hover{
            background-color: palevioletred;
        }
    }

    .PageContent {
        grid-area: content;
    }

    .Footer {
        grid-area: footer;
        background-color: lightsteelblue;
        position: sticky;
        bottom: 0;
    }
}