
.MainContent {
    display: grid;
    grid-template-columns: [navbar] 20fr [content] 80fr;
    height: 100vh;
    background-color: lightgray;
    
    .NavigationBar {
        grid-column: navbar;
        background-color: palegreen;


        .NavBarItem {
            cursor: pointer;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            padding: 0 0.5em 0.5em 0.5em;
        }

        .NavBarItem:hover{
            background-color: palevioletred;
        }
    }

    .PageContent {
        grid-column: content;
    }
}